
*.sln
*.suo
BigCharPrinter/Debug/BtnST.obj
BigCharPrinter/Debug/CL.read.1.tlog
BigCharPrinter/Debug/CL.write.1.tlog
BigCharPrinter/Debug/DiaCounter.obj
BigCharPrinter/Debug/BCMenu.obj
BigCharPrinter/Debug/BigCharPrinter.exe.embed.manifest
BigCharPrinter/Debug/BigCharPrinter.exe.embed.manifest.res
BigCharPrinter/Debug/BigCharPrinter.exe.intermediate.manifest
BigCharPrinter/Debug/BigCharPrinter.lastbuildstate
BigCharPrinter/Debug/BigCharPrinter.log
BigCharPrinter/Debug/BigCharPrinter.obj
BigCharPrinter/Debug/BigCharPrinter.pch
BigCharPrinter/Debug/BigCharPrinter.res
BigCharPrinter/Debug/BigCharPrinter.vcxprojResolveAssemblyReference.cache
BigCharPrinter/Debug/BigCharPrinter.write.1.tlog
BigCharPrinter/Debug/BigCharPrinter_manifest.rc
BigCharPrinter/Debug/BigCharPrinterDoc.obj
BigCharPrinter/Debug/BigCharPrinterView.obj
BigCharPrinter/Debug/cl.command.1.tlog
BigCharPrinter/Debug/DiaClassSetting.obj
BigCharPrinter/Debug/DiaCustomIcon.obj
BigCharPrinter/Debug/DiaMouthClean.obj
BigCharPrinter/Debug/DiaPrintControl.obj
BigCharPrinter/Debug/DiaPrintEdit.obj
BigCharPrinter/Debug/DiaPrintParam.obj
BigCharPrinter/Debug/DiaSystemSetting.obj
BigCharPrinter/Debug/LeftView.obj
BigCharPrinter/Debug/link-cvtres.read.1.tlog
*.sdf
*.exe
*.ipch
*.ilk
*.pdb
*.tlog
*.idb
*.obj
*.opensdf
